{{- $lang := .lang -}}
{{- $defaultLang := .defaultLang -}}
{{- $key := $lang.Lang -}}
{{- $route := cond (eq $key $defaultLang) "/" (printf "/%s/" $key) -}}
{{- $appLang := "" -}}
{{- $ogLocale := "" -}}
{{- $jsonLdLanguage := "" -}}

{{- if eq $key "zh" -}}
  {{- $appLang = "zh-Hans" -}}
  {{- $ogLocale = "zh_CN" -}}
  {{- $jsonLdLanguage = "zh-Hans" -}}
{{- else if eq $key "tw" -}}
  {{- $appLang = "zh-Hant-TW" -}}
  {{- $ogLocale = "zh_TW" -}}
  {{- $jsonLdLanguage = "zh-Hant" -}}
{{- else if eq $key "hk" -}}
  {{- $appLang = "zh-Hant-HK" -}}
  {{- $ogLocale = "zh_HK" -}}
  {{- $jsonLdLanguage = "zh-Hant" -}}
{{- else if eq $key "mo" -}}
  {{- $appLang = "zh-Hant-MO" -}}
  {{- $ogLocale = "zh_MO" -}}
  {{- $jsonLdLanguage = "zh-Hant" -}}
{{- else if eq $key "sg" -}}
  {{- $appLang = "zh-Hant-SG" -}}
  {{- $ogLocale = "zh_SG" -}}
  {{- $jsonLdLanguage = "zh-Hant" -}}
{{- else if eq $key "ja" -}}
  {{- $appLang = "ja" -}}
  {{- $ogLocale = "ja_JP" -}}
  {{- $jsonLdLanguage = "ja" -}}
{{- else if eq $key "ko" -}}
  {{- $appLang = "ko" -}}
  {{- $ogLocale = "ko_KR" -}}
  {{- $jsonLdLanguage = "ko" -}}
{{- else -}}
  {{- $appLang = "en" -}}
  {{- $ogLocale = "en_US" -}}
  {{- $jsonLdLanguage = "en" -}}
{{- end -}}

{{- return (dict
  "key" $key
  "route" $route
  "appLang" $appLang
  "htmlLang" $lang.LanguageCode
  "ogLocale" $ogLocale
  "jsonLdLanguage" $jsonLdLanguage
) -}}
